@font-face {
  font-family: "Chunk";
  src: url("chunk.eot");
  src: url("chunk.woff") format("woff"),
  url("chunk.ttf") format("truetype"),
  url("chunk.svg#filename") format("svg");

  font-weight: normal;
  font-style: normal;
}
body, p {
  font-family: 'Georgia', serif;
 }


h1 {
  font-family: "Chunk";
  font-size: 80px;
  font-weight: normal;
  line-height: 65px;
  color: white;

}

.logo {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 45%;
  left: 25%;
}


.logo h2 {
  font-size: 30px;
  color:white;
}
h3 {
  margin-top: 20px;
  color: white;
}

h3.normal {
  font-weight: normal;
}

.bg {
  background: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 600px;
  min-width: 600px;
}

.center {
  text-align: center
}

.kern {
  letter-spacing: 2pt
}

