@font-face {
  font-family: "Chunk";
  src: url("chunk.eot");
  src: url("chunk.woff") format("woff"),
  url("chunk.ttf") format("truetype"),
  url("chunk.svg#filename") format("svg");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gothic";
  src: url("leaguegothic-regular-webfont.eot");
  src: url("leaguegothic-regular-webfont.woff") format("woff"),
  url("leaguegothic-regular-webfont.ttf") format("truetype"),
  url("leaguegothic-regular-webfont.svg#filename") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
}

body, p {
  font-family: 'Georgia', serif;
}

#bg {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-position: 50% 50%;
  height: 100%;
  position: relative;
  display: block;
}


.logo h1 {
  font-family: "Chunk";
  font-weight: normal;
  color:white;
}

.logo h2 {
  font-weight: normal;
  color:white;
}

.logo h3 {
  color: white;
}

h3.normal {
  font-weight: normal;
}

.logo a {
  color: white;
  text-decoration: none;
}

.logo {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 45%;
  left: 15%;
  color: white;
}

#security-img {
  background-image: url("../img/security.jpg");
  background-repeat: no-repeat;
}
#app-img {
  background-image: url("../img/app.jpg");
  background-repeat: no-repeat;
}

#phill-img {
  background-image: url("../img/phill_thumb.jpg");
  background-repeat: no-repeat;
}

#max-img {
  background-image: url("../img/max_thumb.jpg");
  background-repeat: no-repeat;
}


@media (min-width: 1024px) {
  .logo h1 {
    font-size: 80px;
    line-height: 65px;
  }

  .logo h2 {
    font-size: 30px;
  }

    section h1, section h2 {
    font-size: 35px;
    line-height: 45px;
  }

  section h2 {
    font-size: 18px;
    line-height: 24px;
  }

  section p {
    font-size: 14px;
  }

  #app-img, #security-img { 
    height: 190px;
    background-size: 190px;
  }

  #max-img, #phill-img {
    height: 125px;
  }

  .hey {
    font-size: 45px;
  }
   
  #bell {
    width: 100px;
  }

  #exclaim {
    width: 200px;
    padding-top: 15px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) { 
   .logo h1 {
    font-size: 80px;
    line-height: 65px;
  }

  .logo h2 {
    font-size: 30px;
  }

   section h1, section h2 {
    font-size: 35px;
    line-height: 45px;
  }

  section h2 {
    font-size: 18px;
    line-height: 24px;
  }

  section p {
    font-size: 14px;
  }

   #app-img, #security-img { 
    height: 250px;
    background-size: 250px;
    background-position-x: -50px;
  }

  #max-img, #phill-img {
    height: 125px;
    background-position-x: -25px;
  }

  #map-img img {
    width: 300px;
  }

  .hey {
    font-size: 45px;
  }

   #clients img {
    max-width: 150px;
  }

   #bell {
    width: 100px;
  }

  #exclaim {
    width: 200px;
    padding-top: 15px;
  }


}

@media (max-width: 767px) { 
  .logo {
    top: 30%;
  }
  .logo h1 {
    font-size: 40px;
    line-height: 35px;
  }

  .logo h2 {
    font-size: 20px;
    line-height: 20px;
  }

  h3.normal {
    font-size: 15px;
    line-height: 15px;
  }
 
  section h1, section h2 {
    font-size: 18px;
    line-height: 25px;
  }

  #services h1 {
    font-weight: bold;
  }

  section h2 {
    font-size: 14px;
    line-height: 18px;
  }

  section p {
    font-size: 12px;
  }

   #app-img, #security-img { 
    height: 250px;
    background-size: 250px;
  }

  #max-img, #phill-img {
    height: 125px;
  }

  #clients img {
    max-width: 150px;
  }



  
   .hey {
    font-size: 24px;
    line-height: 30px;
  }

   #intro h1 {
    margin-top: 0px;
  }

  #intro {
    padding-top: 0px;
  }



  #map-img img {
    width: 225px;
  }

}



.row-fluid {
  margin-top: 20px;
}

.hey {
  font-family: "Chunk";
}  

section h1, section h2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
}

section h2 {
  color: black;
 }

section p {
  font-family: 'Helvetica', Arial, sans-serif;
   font-weight: normal;
}

/*.overlay{*/
	/*position:absolute; */
	/*z-index:500;*/
    /*width: 190px;*/
    /*background-image: -webkit-radial-gradient4center, 120px 100px, black, transparent);*/

      /*[>background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 50, color-stop(0%, rgba(0, 0, 0, 0.25)), color-stop(50%, transparent));<]*/
    /*[>background-image: -webkit-radial-gradient(50% 50%, ellipse contain, rgba(0, 0, 0, 0.25),transparent 50%);<]*/
    /*[>background-image: -moz-radial-gradient(50% 50%, ellipse contain, rgba(0, 0, 0, 0.25),transparent 50%);<]*/
    /*[>background-image: -o-radial-gradient(50% 50%, ellipse contain, rgba(0, 0, 0, 0.25),transparent 50%);<]*/
    /*[>background-image: radial-gradient(50% 50%, ellipse contain, rgba(0, 0, 0, 0.25),transparent 50%);<]*/
    /*height: 275px;*/
/*}*/

.overlay h1 {
  /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
  font-family: "Futura",Impact,sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 10px;
  color: white;
}




.kern {
  letter-spacing: 2pt
}

.development {
  padding-bottom: 20px;
}

section {
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 40px;
  margin-bottom: 50px;
  display: block;
}


#clients img{
    /*margin-left: 80px;*/
 }

#clients h1 {
  margin-bottom: 20px;
}

#clients img:hover {
 opacity:0.4;
  filter:alpha(opacity=40)

  /*opacity: 1.0;*/
  /*filter:alpha(opacity=100)*/
}

#contact .row-fluid {
  margin-top: 0px;
}

#contact {
  padding-bottom: 80px;
}

#intro h1.hey {
  margin-top: 20px;
}
