@font-face {
  font-family: "Chunk";
  src: url("/fonts/chunk.eot");
  src: url("/fonts/chunk.woff") format("woff"),
  url("/fonts/chunk.ttf") format("truetype"),
  url("/fonts/chunk.svg#filename") format("svg");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gothic";
  src: url("/fonts/leaguegothic-regular-webfont.eot");
  src: url("/fonts/leaguegothic-regular-webfont.woff") format("woff"),
  url("/fonts/leaguegothic-regular-webfont.ttf") format("truetype"),
  url("/fonts/leaguegothic-regular-webfont.svg#filename") format("svg");
  font-weight: normal;
  font-style: normal;
}

body, html {
  height: 100%;
}

.kern {
  letter-spacing: 2pt
}

section {
  padding-top: 40px;
  margin-bottom: 50px;
  display: block;
  color: black;

  p {
    font-family: 'Helvetica', Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
  }

  h2, h3 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    margin-top: 0px;
    margin-bottom: 5px;
  }

  h1 {
    font-size: 35px;
    line-height: 45px;
  }

  h2 {
    font-size: 30px;
    line-height: 45px;
  }

   h3 {
    font-size: 18px;
    line-height: 24px;
  }


  img {
    max-height: 300px;
  }

  .hey {
    margin-bottom: 20px;
    // font-family: "Chunk";
    font-size: 45px;
  }

}

#intro .hey {
  margin-top: 30px;
}


#logo {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-position: 50% 50%;
  height: 100%;
  position: relative;
  display: block;
  color: white;

  h1, h2, h3 {
    margin-top: 0px;
    font-weight: normal;
  }

  h2, h3 {
    font-family: 'Georgia', serif;
  }

  h1 {
    font-family: "Chunk";
    margin-top: 0px;
    font-size: 80px;
    line-height: 65px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 18px;
  }

  .desc {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 45%;
    left: 15%;
  }

  a {
    color: white;
    text-decoration: none;
  }

}

#clients img:hover {
  opacity:0.4;
  filter:alpha(opacity=40)

}

#gemcanary-img img:hover {
  opacity:0.7;
  filter:alpha(opacity=70)
}

#contact {
  padding-bottom: 80px;
}


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) { 
  #logo { 
    .desc {
      left: 10%;
    }
    h1 {
      font-size: 48px;
      line-height: 50px;
    }
    h2 {
      font-size: 24px;
    }
    h3 {
      font-size: 16px;
    }
  }

  section {

    .hey {
      font-size: 35px;
    }
    h1 {
      font-size: 26px;
      line-height: 40px;
    }

    h2 {
      font-size: 18px;
      line-height: 22px;
    }
  }

  #clients {
    img {
      max-width: 200px;
      max-height: 150px;
      margin-bottom: 15px;
    }
  }

  #team {
    img {
      margin-bottom: 15px;
    }
  }
}

@media(max-width:767px) {
}

@media(min-width:768px){
 

}

